body {
    background-color: #ffe3e3;
    z-index: -98;
    overflow-x: hidden;
}

#navbar {
    padding: 30px 8px;
}

#blackLineTitle {
    width: 30%;
}

.wrapper {
    background-color: #805044;
    margin-top: -1%;
    z-index: 1;
    position: relative;
}

#block1 {
    margin: 20% 0 0 0;
    z-index: 0;
    position: relative;
}

#kingCoat {
    width: 100%;
}

#lookingUpBox {
    position: relative;
}

#lookingUp {
    width: 100%;
    margin-top: -35%;
}

#lookingUpBox .block {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body > .block.text.inWhite{
    margin-top: 0%;
    position: relative;
}

#block2 {
    z-index: 0;
    position: relative;
    overflow-y: hidden;
}

#brownBG {
    z-index: -2;
    opacity: 0;
    width: 100%;
    position: relative;
    background-color: #805044;
}

#innerBlock {
    position: relative;
    z-index: 0;
    display: block;
    margin-top: -42vh;
}

#furPrincess {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: -2;
}

#walnut {
    z-index: 0;
    width: 40%;
    margin-left: 30%;
    margin-bottom: 3%;
    transition: 0.4s;
}

#walnut:hover {
    transform: scale(1.2)
}

p.block.block.text.inWhite {
    z-index: 1;
    position: relative;
}


@media (max-width: 950px){
    #block1 {
        margin-top: 25%;
    }
    #lookingUpBox .block {
        width: 45%;
        font-size: 16px;
        margin-top: 2%;
    }
}