body {
    background-color: #ffe3e3;
    z-index: -98;
    overflow-x: hidden;
    height: 100%;
    margin: 0;
}

#block1 {
    margin: 10% 4rem 0 4rem;
    position: relative;
}

#block1 p {
    text-align: left;
    font-size: 19px;
    line-height: 36px;
    width: 55%;
}

#block1 .text {
    margin-bottom: 3rem;
}

#block1 .quote {
    font-size: 24px;
    text-align: center;
}

#ending {
    margin-top: 3rem;
    width: 100%;
    position: relative;
}