body {
    background-color: #ffe3e3;
    z-index: -98;
    overflow-x: hidden;
}

#navbar {
    padding: 30px 8px;
}

#blackLineTitle {
    width: 30%;;
}

.quote {
    min-width: 22rem;
}

.wrapper {
    background-color: #201b56;
    z-index: -98;
    position:relative;
}

#block1 {
    display:flex;
    margin: 5% 0 0 0;
    width: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#motherDaughter {
    width: 65%;
    height: auto;
    float: left;
    position: relative;
    left: -8rem;
    border-radius: 50% 50% 0 0;
    z-index: -1;
}

#block1 .blockRight {
    float: right;
    z-index: 1;
    margin-top: 30%;
    margin-left: -8%;
}

#block2 {
    display: block;
    width: 100%;
    position: relative;
    z-index: 0;
    text-align: center;
}

#whitePinkBubble {
    width: 80%;
    max-width: 1000px;
    border-radius: 0 0 70% 70%;
}

#block2 .block.quote.inBlack {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#muahaha {
    position: relative;
    z-index: -2;
    width: 100%;
    margin-top: -5rem;
}

#block3 {
    background-color: #201b56;
    display: block;
    margin: -35% 0 0 0;
    width: 100%;
    position: relative;
    z-index: 1;
    padding-bottom: 8%;
}

#scared {
    width: 40%;
    margin-bottom: 3rem;
}

#block4 {
    position: relative;
    z-index: -1;
    overflow: hidden;
}

#starbg {
    position: absolute;
    margin: 0;
    z-index: -5;
    width: 100vw;
    top: -1rem;
}

#sunPair {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sunPair .blockLeft.quote.inWhite {
    position: relative;
    float: left;
    
}

#sun {
    float: right;
    width: 70%;
    border-radius: 50%;
    position: relative;
    right: -4rem;
}

#moonPair {
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -6rem;
}

#moon {
    float: left;
    width: 65%;
    border-radius: 60%;
    position: relative;
    left: -4rem;
}

#moonPair .blockRight.quote.inWhite {
    position: relative;
}

#leftStars {
    float: left;
    width: 45%;
    border-radius: 50%;
    position: relative; 
    left: -3rem;
}

#rightStars {
    float: right;
    width: 45%;
    border-radius: 50%;
    position: relative;
    right: -3rem;
}

#stars {
    display: block;
    width: 100%;
    z-index: 0;
    position: relative;
    overflow:hidden;
}

#stars .block.quote.inWhite {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
}

#block5 {
    position: relative;

}

#furBox {
    width: 80%;
}

#block5 .quote {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

#oopsblock {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

#oopsblock p {
    margin-top: 1rem;
}

#block6 {
    display: block;
    width: 100%;
    position: relative;
    background-color: #201b56;
    margin-top: 0rem;
    z-index: -2;
}

#fabric {
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #201b56;
}

#sunFabric {
    width: 75%;
    position: absolute;
    right: 0;
}

#moonFabric {
    width: 50%;
    position: absolute;
    left: 0;
    top: 28vw;
}

#starFabric {
    width: 90%;
    position: absolute;
    right: 0;
    margin-top: 75vw;
    
}

#block6 .block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 69%;
    width: 40%;
}

#block7 {
    position: relative;
    width: 100%;
    display: block;
    height: 150vw;
}

#innerBlock {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -30%);
    bottom: -7vw;
    z-index: 0;
    border-radius: 50%;
    
}

#miniCoat{
    position: relative;
    width: 18%;
    z-index: 2;
    transition: 0.4s;
}



#lightGlow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    z-index: -1;
    opacity: 0.2;
    transition: 0.5s;
}

#innerBlock:hover #miniCoat {
    transform:scale(1.2)
}

#innerBlock:hover #lightGlow {
    opacity: 1.0;
}


@media (max-width: 800px){
    #block1 {
        display: block;
        text-align: center;
        width: 100%;
        margin-top: 20%;
        position: relative;
        z-index: 1;
    }
    #motherDaughter {
        width: 65%;
        float: none;
        position: relative;
        left: 0;
        border-radius: 50% 50% 0 0;
        z-index: -1;
    }

    #block1 .blockRight {
        float: none;
        position: relative;
        z-index: 1;
        margin: auto;
        text-align: left;;
    }

    #block2 .quote {
        min-width: 30%;
        font-size: 2vw;
    }

    #sunPair {
        width: 70%;
    }

    #sun {
        right: -2%;
    }

    #moonPair {
        width: 115%;
        left: 0;
        float: none;
    }

    #moon {
        width: 50%;
        left: 2%;
    }
    #stars {
        width: 100%;
    }

    #stars .block.quote.inWhite{
        min-width: 15%;
    }

    #block5 .quote {
        font-size: 2.2vw;
        min-width: 32%;
    }

    #block6 .block {
        font-size: 1.5vw;
        margin-top: 72%;
        line-height: 24px;
    }

    #innerBlock {
        bottom: -10vw;
    }

    #starFabric {
        margin-top: 85vw;
    }
}
